.navbar {
    top: 0;
    height: 55px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.925);
    border-width: 20px;
    border-bottom: 5px solid #7700ff;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 5;
}

.navbar_div {
    text-decoration: none;
    background-color: #383785;
    color: #ffffff;
    font-size: 1.2rem;
    font: bold;
    font-family: 'Arial', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 5px;
    padding-top: 2px;
    padding-top: 7px;
    margin-bottom: 7px;

}

.navbar_div:hover{
    color: #000000;
    border-radius: 5px;
    font-size: 1.2rem;
    font: bold;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
}

.navbar_div_chosen {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font: bold;
    font-family: 'Arial', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #7700ff;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}

.navbar_div a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font: bold;
    font-family: 'Arial', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar_div a:hover {
    color: #000000;
    background-color: #ffffff;
    font-size: 1.2rem;
    font: bold;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
}